@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

:root {
    --main-bg-color: #f4e8c1;
    --title-color: #331e38;
    --primary-color: #331e38;
    --secondary-color: #70a0af;
}

* {
      background-color: var(--main-bg-color);
}

h1 {
    font-family: 'Major Mono Display';
    color: var(--title-color);
}

.nav-link {
    font-family: 'Cutive Mono';
    color: var(--primary-color);
    text-decoration: none;
}

.active {
    font-family: 'Cutive Mono';
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
}

/* About Styles */
.about-box {
    background-color: var(--secondary-color);
}

.profile-pic {
    max-height: 500px;
    border-radius: 100px;
}

.section-title {
    font-family: 'Major Mono Display';
    color: var(--primary-color);
}

.info-p {
    font-family: 'Cutive Mono';
}

.about-text {
    border-left: 3px solid var(--secondary-color);
}



