@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

:root {
    --main-bg-color: #f4e8c1;
    --title-color: #331e38;
    --primary-color: #331e38;
    --secondary-color: #70a0af;
}

* {
      background-color: var(--main-bg-color);
}

h1 {
    font-family: 'Major Mono Display';
    color: var(--title-color);
}

.nav-link {
    font-family: 'Cutive Mono';
    color: var(--primary-color);
    text-decoration: none;
}

.active {
    font-family: 'Cutive Mono';
    color: var(--secondary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--secondary-color);
}

/* About Styles */
.about-box {
    background-color: var(--secondary-color);
}

.profile-pic {
    max-height: 500px;
    border-radius: 100px;
}

.section-title {
    font-family: 'Major Mono Display';
    color: var(--primary-color);
}

p {
    font-family: 'Cutive Mono';
}

.about-text {
    border-left: 3px solid var(--secondary-color);
}

i {
    color: var(--primary-color);
}

/* Extra small devices */
@media(max-width:544px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-xs{
        font-size:20px;
    }
}
/* Small devices */
@media(min-width:544px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-sm{
        font-size:30px;
    }
}
/* Medium devices */
@media(min-width:768px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-md{
        font-size:40px;
    }
}
/* Large devices */
@media(min-width:992px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-lg{
        font-size:50px;
    }
}
/* Exrta Large devices */
@media(min-width:1200px){
    .elastic-fai-group > .elastic-fai, .elastic-fai-xl{
        font-size:80px;
    }
}



